.main-tarefa{
    text-align: center;
    padding-top: 80px;
}
.main-tarefa ul{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.main-tarefa li{
    display: flex;
    justify-content:space-between;
    border: 0.2px solid var(--preto-texto);
    border-radius: 15px;
    min-width: 300px;
    transition: 0.3s;
    padding-left: 15px;
    
    margin-top: 5px;
}
.botao-apagar{
    background-color: #0F3D4C;
    padding: 0 20px 0 20px;
    border-radius: 0 15px 15px 0;
    color: white;
    margin-left: 5px;
}
.botao-apagar:hover{
    scale: 1.1;
    transition: 0.1s;
    cursor: pointer;
}
#texto-input{
    width: 350px;
    height: 35px;
    border-radius: 15px;
    padding-left: 20px;
}