:root {
  --preto-principal: #0f0f0f;
  --preto-secundario: #1a1a1a;
  --Amarelo-destaque: #ffc107;
  --Amarelo-hover: #ffca2c;
  --Cinza-suave: #2a2a2a;
  --Branco-texto: #f5f5f5;
}
.main1-2, .main2-2{
    margin-top: 100px;
}
.main1-2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 60%;
    margin-left: 3vh;
}
.main2-2{
width: 35%;
margin-right: 5vh;
}
.a-fazer, .feito{
    display: flex;
    max-width: 45%;
    min-width: 45%;
    background-color: var(--Cinza-suave);
    border-radius: 12px 12px 12px 12px;
    padding-bottom: 2vh;
}
.a-fazer{
    flex-flow: column;
    max-height: fit-content;
}
.feito{
    flex-flow: column;  
    max-height: fit-content; 
}
.titulo{
    background-color: black;
    color: var(--Amarelo-destaque);
    height: 7vh;
    padding-left: 3vh;
    align-content: center;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid rgb(85, 82, 82);
    
}
.boxes{
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    max-width: 100%;
    padding-top: 3vh;
}
.main-tarefa{
   display: flex;
   flex-flow: row;
   width: auto;
   justify-content: space-between;
}
.box{
    background-color: var(--Cinza-suave);
    color: var(--Branco-texto);
    font-weight: 50px;
    border: 2px solid rgb(85, 82, 82)   ;
    width: 90%;
    min-height: 250px;
    padding-left: 2vh;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: 15px;
    margin: 4px;
    padding-bottom: 1px;
    padding-right: 5px;
}
.box h3{
    color: #f5d269;
    text-decoration:none;
    border-bottom: 1px solid rgb(85, 82, 82);
}
.botao-ok{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}
.botao-ok button{
    padding: 4px 6px 4px 6px;
    border-radius: 10px;
    border: none;
    background-color: var(--Amarelo-destaque);
    color: white;
}
.botao-ok button:hover{
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--Amarelo-hover);
}
.concluido{
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 8px;
    margin-right: 5px;
    text-align: center;
}
